extends layout

block content
    .modal(id="display")
    .centered-nav.w3-bar.w3-theme-d5
        .navbar-left

        .navbar-middle
            a.w3-bar-item.w3-button(href="/resources") Recursos
            a.w3-bar-item.w3-button(href="/profile") Profile
            a.w3-bar-item.w3-button(href="/news") News
            a.w3-bar-item.w3-button(href="/resources/rankings") Rankings
            if user.level === 'admin'
                a.w3-bar-item.w3-button(href="/adminpanel") Admin Panel
            
        .navbar-right
            a.w3-bar-item.w3-button(href="/logout") Logout

    .resource-container
        .left-section
            h3.text-center Latest Ratings
            .ratings-container
                .cards-container
                    each rating in resource.rankings.slice(0, 5)
                        .rating-card
                            p.rating-value #{rating.stars} ⭐
                            p.rating-meta by #{rating.user} on #{rating.date}

        .middle-section
            h2.text-center Resource Info
            .resource-info-container
                .resource-details
                    p.resource-title #{resource.title}
                    p.subtitle #{resource.subtitle || 'Indefinido'}
                    p 
                        b Tipo: 
                        | #{resource.type}
                    p 
                        b Autor: 
                        | #{resource.author}
                    p 
                        b Submitter: 
                        | #{resource.submitter}
                    p 
                        b Date: 
                        | #{resource.creationDate}
                    p 
                        b Tags: 
                        | #{resource.tags.join(', ')}
                    p 
                        b Rating: 
                        | #{resource.averageRating} ⭐

                if user.level === "admin"
                    .resource-actions
                        a.button(href=`/resources/edit-resource/${resource._id}`) Edit
                        form(action=`/resources/delete/${resource._id}`, method="POST", style="display:inline;")
                            button(type="submit", class="button") Delete

                
                .resource-actions
                    a.button(href=`/resources/download/${resource._id}`) Download
                    a.button(onclick=`commentResource('${resource._id}')`) Comment
                    a.button(onclick=`rateResource('${resource._id}')`) Rate

            .other-resources-section
                h3.text-center Other Resources by the same author - #{resource.author}
                each otherResource in authorResources
                    a.card-link(href=`/resources/${otherResource._id}`)
                        .other-resource-card
                            .other-resource-title #{otherResource.title}
                            //p.subtitle #{otherResource.subtitle || 'Indefinido'}
                            p Type: #{otherResource.type}
                            //p Author: #{otherResource.author}
                            //p Submitter: #{otherResource.submitter}
                            p Date: #{otherResource.creationDate}
                            p Tags: #{otherResource.tags.join(', ')}
                            p Rating: #{otherResource.averageRating} ⭐

        .right-section
            h3.text-center Latest Comments
                .comments-container
                    .cards-container
                        each comment in resource.comments.slice(0, 5)
                            .comment-card
                                p.comment-text #{comment.content}
                                p.comment-meta by #{comment.user} on #{comment.postDate}
                    a.button.centered-button(href=`/resources/comments/${resource._id}`) See All Comments
